nav{
    z-index: 1;
    position: absolute;
    top: 170px;
    font-family: inherit;
    padding-top: 1px;
}

ul{
    list-style-type: none;
    width: 140px;
}

li a{
    display: block;
    text-decoration: none;
    padding: 8px 16px;
     color: LimeGreen;
    font-size: 20px;
}

li {
    text-align: center;
    border-bottom: 1px solid LimeGreen;
    border-top: 1px solid LimeGreen;
    border-left: 1px solid LimeGreen;
    border-right: 1px solid LimeGreen;
}

li a:hover {
    background-color: white;
    color: black;
}

h1{
    position: inherit;
    font-family: sans-serif;
    color: LimeGreen;
    font-size: 30px;
    text-align: center;
    width: 100%;
    padding-bottom: 40px;
    padding-top: 40px;
}

c{
    z-index: 3;
    text-align: center;
    font-family: inherit;
    position: relative;
    top: -406px;
    font-size: 20px;
    color: limegreen;
    padding-left: 2000px;
    margin: auto;  
}

h3{
    width: 100%;
    font-family: inherit;
    color: LimeGreen;  
    position: relative;
}

p{
    width: 15%;
    font-size: 20px;
    color: LimeGreen;
    padding-left: 670px;
    font-family: inherit;
    text-align: center;
}

p2{
    font-size: 20px;
    color: LimeGreen;
    font-family: inherit; 
}

.image-container { 
    top: 50px;
    position: absolute;              
    margin-top: 100px;               
    height: 60%;  
    left: 650px;
}

body{
    background-color: black;
    
}

.myContainer{
    background-color: black;
    position: static;
    top: auto;
    
}

.column{
    z-index: 1;
    position: relative;
    top: -294px;
    padding-left: 965px;
    margin-right: inherit;
    max-width: 13%;
    text-align: center;
}
    
body {
    text-align: center;
}
.wrapper {
    position: inherit;
    align-self: stretch;
    display: inline-block;
    justify-content: center;
}
.wrapper i {
    padding: 10px;
    text-shadow: 0px 6px 8px rgba(0, 0, 0, 0.6);
    transition: all ease-in-out 150ms;
}
.wrapper a:nth-child(1) {
    color: #dd4b39;
}
.wrapper a:nth-child(2) {
    color: #4867AA;
}
.wrapper a:nth-child(3) {
    color: #1DA1F2;
}
.wrapper i:hover {
    margin-top: -3px;
    text-shadow: 0px 14px 10px rgba(0, 0, 0, 0.4);
}